[Desktop Entry]
Type=Application
Name=Switch to Recovery
Comment=Restart into OrangeFox recovery
Exec=qmlscene /usr/share/klee-switch/main.qml recovery
Icon=/usr/share/klee-switch/klee-recovery.svg
Terminal=false
X-Lomiri-Touch=true
X-Lomiri-Single-Instance=true
