[Desktop Entry]
Type=Application
Name=Switch to Android
Comment=Go back to Axion (via OrangeFox)
Exec=qmlscene /usr/share/klee-switch/main.qml android
Icon=/usr/share/klee-switch/klee-android.svg
Terminal=false
X-Lomiri-Touch=true
X-Lomiri-Single-Instance=true
